*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5; 
    height: 100vh;   
    display: grid;
    grid-template-areas: 
    'header header header'
    'navigation main sidebar'
    'navigation footer footer'
    ;
    grid-template-rows: 10vh 1fr 10vh;
    grid-template-columns: 10vw 1fr 15vw;
}


header, main, nav, aside, footer{
    border: skyblue 1px solid;
    background-color: steelblue;
    color: #fff;
    padding: 10px 20px;
    
}

header{
    grid-area: header;
}
main {
    grid-area: main;
}
nav{
    grid-area: navigation;
}
aside {
    grid-area: sidebar;
}
footer{
    grid-area: footer;
}